aniso8601==1.0.0
arrow==0.6.0
beautifulsoup4==4.4.0
Delorean==0.5.0
flake8==2.4.1
flake8-docstrings==0.2.1.post1
Flask==0.10.1
Flask-RESTful==0.3.4
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mccabe==0.3.1
numpy==1.10.1
pep257==0.6.0
pep8==1.5.7
pyflakes==0.8.1
python-dateutil==2.4.2
pytz==2015.6
requests==2.7.0
six==1.9.0
Werkzeug==0.10.4
gunicorn==19.3.0
